.quadrado {
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imagem-quadrada {
    max-width:40%;
    max-height: 40%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

.alternativas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.alternativas button {
    flex: 1;
    font-size: 2px;
}

.clubes-container {
    width: 100%;
    flex: 1;
    overflow: auto;
}

.botao-canto {
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 10px;
}

.botao-nav {
    position: absolute;
    padding-right: 10px;
}

.botao-nav button {
    position: absolute;
    right: 6px;
    bottom: 0;
    font-size: 12px;
}

.clubes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.clubes button {
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff8c66;
  color: white;
}

.mensagem-final {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.parabens {
  color: green;
}

.que-pena {
  color: gray;
}

.mensagem-final p {
  color: #333;
}

.destaque {
  font-weight: bold;
  color: #4caf50;
}

.jogo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.perguntas {
    max-height: 100px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.botao-clube, .botao-tema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ff8c66;
    color: white;
    cursor: pointer;
    text-align: center;
}

.botao-clube img, .botao-tema img {
    max-height: 100px;
    max-width: 100px; 
    margin-bottom: 5px; 
}

.botao-clube span, .botao-tema span {
    display: block; 
}

/*Media Query para telas grandes*/
@media (min-width: 769px) {
  .jogo-container {
    height: 50vh;
  }

  .quadrado {
    border-radius: 20px;
    padding: 20px;
  }

  .alternativas {
    padding: 20px;
    gap: 10px;
  }

  .clubes-container p {
    font-size: 30px;
  }

  .clubes-container h2 {
    font-size: 30px;
  }

  .clubes-container button {
    font-size: 30px;
  }

  .clubes {
    gap: 10px;
  }

  .clubes button {
    font-size: 20px;
    padding: 10px 20px;
  }

  .parabens {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .que-pena {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .mensagem-final p {
    font-size: 18px;
    margin-top: 20px;
  }
}

/*Media Query para telas pequenas*/
@media (max-width: 768px) {
  .jogo-container {
    height: 25vh;
  }

  .quadrado {
    border-radius: 20px;
    padding: 10px;
  }

  .alternativas {
    padding: 10px;
    gap: 5px;
  }

  .clubes-container p {
    font-size: 15px;
  }

  .clubes-container h2 {
    font-size: 12px;
  }

  .clubes {
    gap: 5px;
  }

  .clubes button {
    font-size: 10px;
    padding: 5px 10px;
  }

  .clubes-container button {
    font-size: 15px;
  }

  .parabens {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .mensagem-final p {
    font-size: 10px;
    margin-top: 10px;
  }

    .mensagem-final h1 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .botao-clube img, .botao-tema img {
        max-height: 50px;
        max-width: 50px;
        margin-bottom: 5px;
    }
    
}

/*Título 'Parabéns' colorido*/
.letra-p {
  color: red;
}

.letra-a {
  color: orange;
}

.letra-r {
  color: #3399cc;
}

.letra-a2 {
  color: green;
}

.letra-b {
  color: purple;
}

.letra-e {
  color: red;
}

.letra-n {
  color: orange;
}

.letra-s {
  color: #336699;
}
