/*Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Quicksand:wght@300..700&display=swap');
/*Kalam*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/*Indie Flower*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*Jersey 25*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Jersey+25&family=Quicksand:wght@300..700&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/*Título*/

body {
  background-image: url(../src/plano-de-fundo.webp); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: black;
  margin: 0;
}

.title h2 {
  font-family: 'Indie Flower', cursive;
}

.title p {
  font-weight: bold;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/*Quadrado*/

.quadrado {
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.quadrado h1 {
  color: black;
  font-weight: bold;
}

.quadrado h3 {
  margin-bottom: auto;
  color: green;
  font-weight: bold;
  font-family: "Jersey 25";
}

.quadrado button {
  background-color: #ff8c66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quadrado button:hover {
  background-color: #d6633e;
}

.quadrado p {
  text-align: justify;
}

.botoes-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  align-items: center;
}

.botao-canto {
  align-self: flex-end;
  margin-right: 20px;
}

.botao-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 10px;
}

.botoes-menuR {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.botao-cantoR button {
  font-size: 12px;
}
.imagem-Qm-Somos{

  height: 100%;
  width: 100%;
}

/*Footer*/

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-weight: bold;
}

.icones {
  display: flex;
  flex-direction: row;
}

/* Area Coordenacao */

.formulario-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.label {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.quadrado, .formulario-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lista-clubes {
  width: 100%; 
  overflow-y: auto;
  margin-bottom: auto;
}

.label, .input-field {
  width: 100%;
}

.espaco-botao {
  margin-right: 100px;
}

.botao-acao {
  margin-right: 15px;
}

.clube-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}


/* Novo Clube */
.titulo-clubes {
  margin-bottom: 20px;
}

.input-clube {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.botao-imagem {
  width: 25%;
  padding: 10px;
  margin-bottom: auto !important;
}

/*Media Query para telas grandes*/
@media (min-width: 769px) {
  .home-container {
    height: 50vh;
  }

  .titulo-container {
    border: 4px solid orange; 
    border-radius: 10px; 
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffdb58;
  }

  .title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
  }

  .title h1 {
    font-size: 30px;
  }

  .title h2 {
    font-size: 50px;
  }

  .quadrado {
    width: 600px;
    height: 400px;
  }

  .quadrado h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .quadrado h3 {
    font-size: 50px;
  }

  .quadrado button {
    padding: 10px 20px;
    margin: 10px 0;
  }

  .quadrado p {
    font-size: 20px;
    text-indent: 30px;
  }

  .botoes-menu button {
    font-size: 30px;
  }

  .botao-canto button {
    font-size: 12px;
  }

  .footer {
    font-size: 20px;
    gap: 50px;
  }

  .icones a {
    font-size: 30px;
    margin-right: 20px;
  }

  .formulario-login {
    gap: 10px;
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 100px;
  }

  .lista-clubes {
    width: 100%; 
    max-height: 80vh;
    margin: 20px 0;
  }
}

/*Media Query para telas pequenas*/
@media (max-width: 768px) {
  .home-container {
    height: 25vh;
  }

  .titulo-container {
    border: 2px solid orange; 
    border-radius: 5px; 
    padding: 5px;
    margin-bottom: 10px;
    background-color: #ffdb58;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .title h1 {
    font-size: 20px;
  }

  .title h2 {
    font-size: 30px;
  }

  .title p {
    font-size:15px;
    margin: 0;
  }

  .quadrado {
    width: 300px;
    height: 200px;
  }

  .quadrado h1 {
    font-size: 20px;
  }

  .quadrado h3 {
    font-size: 25px;
  }

  .quadrado button {
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 20px;
  }

  .quadrado p {
    font-size: 10px;
    text-indent: 15px;
  }

  .botoes-menu button {
    font-size: 20px;
  }
  
  .botao-canto button {
    font-size: 10px;
  }

  .footer {
    font-size: 15px;
    gap: 25px;
  }

  .icones a {
    font-size: 25px;
    margin-right: 10px;
  }

  .formulario-login {
    gap: 5px;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .lista-clubes {
    width: 100%; 
    max-height: 40vh;
    margin: 10px 0;
    font-size: 10px;
  }

  .clube-container button {
    font-size: 10px;
  }

  .botao-imagem {
    font-size: 15px !important;
  }

  .input-clube {
    width: 50%;
    height: 1%;
    padding: 4px;
    font-size: 12px;
    margin-bottom: 7px;
  }

  .dropdown-select {
    width: 75%;
    height: 10%;      
    padding: 5px;    
    margin-bottom: 0px;
    font-size: 10px;
}
}

/*Título 'Pontinha' colorido*/

.letra-p {
  color: blue;
}

.letra-o {
  color: orange;
}

.letra-n1 {
  color: green;
}

.letra-t {
  color: red;
}

.letra-i {
  color: #ffcc00;
}
.letra-n2 {
  color: indigo;
}

.letra-h {
  color: violet;
}

.letra-a {
  color: cyan;
}